.color_front_1 {
    color: #2fa8c7;
}

.color_back_1 {
    background-color: #2fa8c7;
}

.color_front_2 {
    color: #6ebdc8;
}

.color_back_2 {
    background-color: #6ebdc8;
}

.color_front_3 {
    color: #68b7cb;
}

.color_back_3 {
    background-color: #68b7cb;
}

.color_front_4 {
    color: #e2ede6;
}

.color_back_4 {
    background-color: #e2ede6;
}

.color_front_5 {
    color: #e77e85;
}

.color_back_5 {
    background-color: #e77e85;
}

.color_front_6 {
    color: #df2a62;
}

.color_back_6 {
    background-color: #df2a62;
}

.color_front_7 {
    color: #df2a62;
}

.color_back_7 {
    background-color: #df2a62;
}

.color_front_8 {
    color: #959ead;
}

.color_back_8 {
    background-color: #959ead;
}

.color_front_9 {
    color: #3c4859;
}

.color_back_9 {
    background-color: #3c4859;
}

.color_border_9 {
    border-color: #3c4859;
}

.color_front_10 {
    color: #C3CEE2;
}

.color_back_10 {
    background-color: #C3CEE2;
}

.color_front_11 {
    color: #f7f7f7;
}

.color_back_11 {
    background-color: #f7f7f7;
}

.color_front_12 {
    color: #FFC857;
}

.color_back_12 {
    background-color: #FFC857;
}

.color_front_13 {
    color: #ABC8C0;
}

.color_back_13 {
    background-color: #ABC8C0;
}

.color_front_14 {
    color: #DAF7DC;
}

.color_back_14 {
    background-color: #DAF7DC;
}

.color_front_15 {
    color: #9EE493;
}

.color_back_15 {
    background-color: #9EE493;
}

.color_front_16 {
    color: #C4DACF;
}

.color_back_16 {
    background-color: #C4DACF;
}

.color_front_17 {
    color: #5C80BC;
}

.color_back_17 {
    background-color: #5C80BC;
}


/*set 2*/

.color_front_18 {
    color: #984447;
}

.color_back_18 {
    background-color: #984447;
}

.color_front_19 {
    color: #ADD9F4;
}

.color_back_19 {
    background-color: #ADD9F4;
}

.color_front_20 {
    color: #476C9B;
}

.color_back_20 {
    background-color: #476C9B;
}

.color_front_21 {
    color: #9EE493;
}

.color_back_21 {
    background-color: #9EE493;
}

.color_front_22 {
    color: #DAF7DC;
}

.color_back_22 {
    background-color: #DAF7DC;
}
