<div @fade class="card-preview-container log_in_width ma-auto ma-t-30">
  <div class="card ma-b-60">
    <h4 class="text-center">RESET PASSWORD</h4>
    <div class="text-left ma-t-10">
      <form class="pure-form">
        <fieldset class="text-center">
          <div class="ma-b-10">
            <input #email name="reset_passwd" class="width-100" id="e-mail" type="text" placeholder="e-mail">
            <div *ngIf="invalidEmail" class="text-warning text-left">Invalid email</div>
            <div *ngIf="mailSent" class="text-success text-left">Reset password instructions has been sent to your email</div>
          </div>
          <button (click)="resetPasswd(email)" class="pure-button pure-button-primary">SEND RESET EMAIL</button>
        </fieldset>
      </form>

    </div>
  </div>
</div>
