<div class="pure-g ma-b-20">

  <app-card-preview @fade
                    *ngFor="let card of previews"
                    [title]="card.title"
                    [year]="card.year"
                    [rating]="card.rating"
                    [img_url]="card.photo_url"
                    [is_seen]="movieIsSeen(card.id)"
                    [id]="card.id"
                    [self]="card"
                    [genre]="card.genre"
    class="card-preview-container pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-5 pure-u-xl-1-6">
  </app-card-preview>

</div>



<div inViewport
     (onInViewportChange)="onInViewportChange($event)"
      class="ma-b-20">
  <button hidden [disabled]="more_results_disabled"
          (click)="getMore()"
          class="pure-button pure-button-primary"
          i18n="more results button @@id_gallery_more">
    MORE RESULTS
  </button>
</div>

<div class="ma-auto ma-b-60">
  <div *ngIf="searchProgressService.search_pending" class="loader ma-auto"></div>
  <div *ngIf="searchProgressService.no_more_results" style="color: #777"
        i18n="@@id_gallery_no_more_results">No more results found</div>
</div>
